#main-footer {
  background: #343a40;
}

#page-header {
  height: 200px;
  background: url("../assets/image.jpg");
  background-position: 50% 90%;
  background-attachment: fixed;
  color: gold;
  border-bottom: 1px #343a40 solid;
  padding-top: 60px;
}
